<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Blogger's Point">
  <meta name="author" content="TechCOE">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/jquery-ui.css" rel="stylesheet">
  <link href="/css/common.css" rel="stylesheet">
  <link href="/css/plugin/waitMe.css" rel="stylesheet">
  {{!-- <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
  <link href='http://fonts.googleapis.com/css?family=Bad+Script|Raleway:400,500,600,700,300|Lora:400' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Montserrat%3A400&subset=latin&ver=1437735376' id='redux-google-fonts-memory-css' media='all' rel='stylesheet' type='text/css'/> --}}
  <link href="/css/plugin/sweetalert.css" rel="stylesheet" />
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
  <link href="/css/style.css" rel="stylesheet">
	<link href="/css/style-responsive.css" rel="stylesheet">

  {{!-- <script src="/js/jquery.min.js"></script> --}}
  {{!-- <script src="../../js/bootstrap.min.js"></script> --}}
  {{!-- <script src="../../js/scripts.js"></script> --}}

  <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/plugin/typeahead.bundle.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/plugin/handlebars.js"></script>
  <script type="text/javascript" src="/js/plugin/waitMe.js"></script>
  <script type="text/javascript" src="/js/plugin/sweetalert-dev.js"></script>
  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script> --}}

</head>

<body>
  	<div class="container-fluid">
      <div class="row banner">
        <div class="col-md-12">
          <div class="banner-txt">
            <p>Bloggers meet<br><span>Connect, learn, educate and collaborate</span></p>
          </div>
        </div>
        <div class="col-md-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">					 
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button> 
              <a class="navbar-brand" href="#"><img src="/images/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="/contactus">Contact Us</a>
                </li>
                {{#if user}}    
                  <li><a href="/auth/dashboard">Dashboard</a></li>
                  <li><a href="/blogs/profile/{{user._id}}">Blogs</a></li>{{/if}}
                {{#if user}}
                <li>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  {{#Compare ./user.authType "!==" "local" }}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                      <img src="{{user.userImage}}" 
                        class="profile-image navbarimage four reloadimage"> {{user.username}} <span class="caret"></span>
                      </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/auth/logout">Log-out {{user.username}}</a></li>
                    </ul>
                    {{else}}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                      <img src="/{{user._id}}/{{user._id}}.jpg" 
                        class="profile-image navbarimage four reloadimage"> {{user.username}} <span class="caret"></span>
                      </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/myprofile/{{user._id}}">My Profile</a></li>
                      <li class="divider"></li>
                      <li><a class="dropdown-item" href="/auth/changepwd/{{user._id}}">Change Password</a></li>
                      <li class="divider"></li>
                      <li><a class="dropdown-item" href="/auth/logout">Log-out {{user.username}}</a></li>
                    </ul>                    
                  {{/Compare}}
                  </li>
                </ul>
                </li>
                {{else}}
                <li class="s-active" id="modal-846899" href="#modal-container-846899" role="button" class="btn" data-toggle="modal">
                  <a href="#">Sign in</a>
                </li>
                {{!-- <li><a href="/auth/google" class="fa fa-google"></a></li> --}}
                {{!-- <a href="/auth/google"><img class="googleicon" src="/images/gmail_signin.png"/></a> --}}
                {{/if}}
              </ul>
            </div>
          </nav>
        </div>
        <div class="modal fade" id="modal-container-846899" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  ×
                </button>
              </div>
              <div class="modal-body">
                <form role="form" class="" action="/auth/login" method="POST">
                  <div class="form-group">
                    <input type="email" placeholder="Email" id="username" name="username" required="true" class="form-control" />
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" id="password" name="password" required="true" class="form-control" />
                  </div>
                  <div class="modal-links">
                    <div class="col-md-6 pull-left modal-links-left">
                      <a href="/auth/forgotPwd">forgot password?</a>
                      <p><a href="/auth/userRegistration">Sign Up</a></p>
                    </div>
                    <div class="col-md-6 pull-right modal-links-right">
                      <button type="submit" class="btn btn-default">
                        Sign In
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subscribeclass">
          <div class="col-md-12 my-column">
            <button  id="modal-376027" href="#modal-container-376027" role="button" data-toggle="modal" type="button" class="btn btn-default btn-subscribe">
              Subscribe
            </button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-container-376027" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
              </button>
              <h4 class="modal-title" id="myModalLabel">
                Subscribe To Our Newsletter
              </h4>
            </div>
            <div class="modal-body">
              <div class="subscribeBlock">
                <p>Once a week we will send you a summary of the most useful news</p>
                <div class="ErrorPanel hidden"></div>
                <div class="form-group">
                  <div class="input-group">
                  <spna class="input-group-addon input-sm">
                  <span class="glyphicon glyphicon-user "></span>
                  </spna>
                  <input type="text" placeholder="Your name" id="nameSubscribe" name="nameSubscribe" required="true" class="form-control input-sm">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon input-sm"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="email" placeholder="Your email" id="emailSubscribe" name="emailSubscribe" required="true" class="form-control input-sm">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer subscribe_button">
              <button type="button" class="btn btn-primary subscribe">
                Submit
              </button>
            </div>
            <div class="alert alert-success hidden successResult" role="alert">
              <strong>Well done!</strong> You have successfully subscribe for our newsletters.
            </div>
            <div class="alert alert-info hidden alertResult" role="alert">
              <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
            </div>
            <div class="alert alert-warning hidden warningResult" role="alert">
              <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
            <div class="alert alert-danger hidden errorResult" role="alert">
              <strong>OMG!</strong> currently there some technical issue .
            </div>
          </div>
        </div>
      </div>

    {{{body}}}      

    {{> footer}}
    
	</div>

</body>



{{!-- {{> footer}} --}}

{{!-- <span id="spnServicePath" class="hidden">{{config}}</span> --}}
{{!-- <input type="hidden" id="hdnErrorMsg" value="{{errorMsg}}"> --}}
{{!-- <input type="hidden" id="hdnSuccessMsg" value="{{successMsg}}"> --}}
{{!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert-signup alert-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">The username, password is not correct</h4>
      </div>
    </div>
  </div>
</div> --}}
{{!-- </body> --}}

</html>