<link href="/summernote/dist/summernote.css" rel="stylesheet">
<script src="/summernote/dist/summernote.js"></script>

<div class="bs-docs-section">
  <div class="row">
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span></button>
            <h4 class="modal-title">Add Blog</h4>
          </div>
          <div class="modal-body">
            <form id="addeditblogfrm" class="form-horizontal">
              <div class="blogsuccesserrorpanel hidden">
              </div>
              <div class="form-group">
                <label class="control-label" for="topic">Blog Topic</label>
                <div>
                  <input type="text" class="form-control" maxlength="100" id="topic" name="topic" autofocus="autofocus" value="{{{blogs.topic}}}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="content">Content</label>
                {{!-- <div> --}}
                  <div id="content" name="content">{{blogs.content}}</div>
                  {{!-- <textarea class="input" rows="10" cols="85" maxlength="5000" id="content" name="content" autofocus="autofocus">{{blogs.content}}</textarea>                  --}}
                </div>
              {{!-- </div> --}}
              <div class="form-group">
                <label class="control-label" for="category">Blog Category</label>
                <div>
                  <select name="category" id="category" class="form-control">
          {{#each category}}
              {{#Compare ../blogs.categorykey this.key}} 
                <option selected="selected" value="{{this.key}}">{{this.name}}</option>
              {{else}}
                <option value="{{this.key}}">{{this.name}}</option>
              {{/Compare}}
          {{/each}} 
          </select>
                </div>
              </div>

              <input type="hidden" id="modifiedby" name="modifiedby" value="" />
              <input type="hidden" id="createdby" name="createdby" value="{{user.username}}" />
              <input type="hidden" id="_id" name="_id" value="" />
              <input type="hidden" id="status" name="status" value="" />
              <input type="hidden" id="index" name="index" value="" />
              <input type="hidden" id="userid" name="userid" value="{{user._id}}" />
              <input type="hidden" id="actiontype" name="actiontype" value="add" />

              <div class="form-group">
                <div>
                  <button type="submit" class="btn btn-info btn-sm">Add</button>
                  <button type="reset" class="btn btn-info btn-sm" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </form>
          </div>

          <script>
            $(document).ready(function () {
              $('#content').summernote({
                toolbar: [
                  ['style', ['style']],
                  //[ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
                  ['font', ['bold', 'italic', 'underline']],
                  ['fontname', ['fontname']],
                  ['fontsize', ['fontsize']],
                  ['color', ['color']],
                  ['para', ['ol', 'ul', 'paragraph', 'height']],
                  //[ 'table', [ 'table' ] ],
                  ['insert', ['link', 'picture']],
                  //[ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
                  ['view', ['undo', 'redo', 'fullscreen', 'codeview']]
                ]
              });
            });
          </script>
        </div>
      </div>
    </div>

    <h4>List of Blogs
      <span data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-plus-sign"></span>
    </h4>

    <div class="blogeditsuccesserrorpanel hidden">
    </div>

    <div id="accordion" class="blogsbyuserid">
      {{#Compare blogs.count ">" 0}} {{#each blogs.result}}
      <div class="group blog_{{this._id}}">
        <h3>
          <span class="blogheader_{{this._id}}">{{{this.topic}}}</span>

          <div id="editblog" class="editblog">
            <span data-key="{{this._id}}" class="edit glyphicon glyphicon-edit"></span>
            <span data-key="{{this._id}}" class="remove glyphicon glyphicon-remove"></span>
          </div>

        </h3>
        <div>
          <div class="showblogdetails_{{this._id}}">
            <strong><span class="blogpostdate glyphicon glyphicon-time"></span> Posted on {{#CovertISODate this.creationdate}}{{/CovertISODate}}</strong>
            <br><br> 
            {{!-- <span data-toggle="modal" data-blogid="{{this._id}}" data-target="#allComment" class="showallcomments"> --}}
              {{!-- <a href="#"><u>Validate all Comments</u></a>
              </span> | --}}
            <span data-toggle="modal" data-blogid="{{this._id}}" data-target="#myComment" class="showmycomments">
                <a href="#"><u>View/Edit my comments</u></a>
            </span>
            <hr>
            <h4><i>Blog Description</i></h4>
            {{{this.content}}}
          </div>
          <div class="blogeditform_{{this._id}} hidden">
            <div class="blogeditvalidationpanel hidden">
            </div>

            <div>
              <form id="editblogfrm" class="form-horizontal" data-key="{{this._id}}">
                <div class="form-group">
                  <label class="control-label" for="topic">Blog Topic</label>
                  <div>
                    <input type="text" class="form-control" maxlength="100" id="topic_{{this._id}}" name="topic_{{this._id}}" autofocus="autofocus"
                      value="{{{this.topic}}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="content_{{this._id}}">Content</label>
                  {{!-- <div> --}}
                    {{!-- <textarea class="input" rows="10" cols="85" maxlength="5000" id="content_{{this._id}}" name="content_{{this._id}}" autofocus="autofocus">{{{this.content}}}</textarea> --}}
                  {{!-- </div> --}}
                  <textarea class="hidden" maxlength="5000" id="txt_{{this._id}}" name="txt_{{this._id}}">{{this.content}}</textarea>
                  <div id="content_{{this._id}}" name="content_{{this._id}}" autofocus="autofocus"></div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="category_{{this._id}}">Blog Category</label>
                  <div>
                    <select name="category_{{this._id}}" id="category_{{this._id}}" class="form-control">
          {{#each ../category}}
              {{#Compare ../this.categorykey this.key}} 
                <option selected="selected" value="{{this.key}}">{{this.name}}</option>
              {{else}}
                <option value="{{this.key}}">{{this.name}}</option>
              {{/Compare}}
          {{/each}} 
          </select>
                  </div>
                </div>

                <input type="hidden" id="modifiedby_{{this._id}}" name="modifiedby_{{this._id}}" value="{{../user.username}}" />
                <input type="hidden" id="createdby_{{this._id}}" name="createdby_{{this._id}}" value="{{this.createdby}}" />                {{!-- <input type="hidden" id="_id" name="_id" value="{{this._id}}" /> --}}
                <input type="hidden" id="status_{{this._id}}" name="status" value="{{this.status}}" />
                <input type="hidden" id="index_{{this._id}}" name="index_{{this._id}}" value="{{index}}" />
                <input type="hidden" id="userid_{{this._id}}" name="userid_{{this._id}}" value="{{../user._id}}" />
                <input type="hidden" id="creationdate_{{this._id}}" name="creationdate_{{this._id}}" value="{{this.creationdate}}" />
                <input type="hidden" id="actiontype_{{this._id}}" name="actiontype_{{this._id}}" value="edit" />
                <div class="form-group">
                  <div>
                    <button type="button" class="btn btn-info btn-sm saveblog" data-key="{{this._id}}">Save</button>
                    <button type="button" class="btn btn-info btn-sm cancel canceleditblog" data-key="{{this._id}}">Cancel</button>
                  </div>
                </div>
              </form>
            </div>

            <script>
              $(document).ready(function () {
                var id = "#content_{{this._id}}";
                $(id).html($("#txt_{{this._id}}").val());
                $(id).summernote({
                  toolbar: [
                    ['style', ['style']],
                    //[ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
                    ['font', ['bold', 'italic', 'underline']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ol', 'ul', 'paragraph', 'height']],
                    //[ 'table', [ 'table' ] ],
                    ['insert', ['link', 'picture']],
                    //[ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
                    ['view', ['undo', 'redo', 'fullscreen', 'codeview']]
                  ]
                });
              });
            </script>

          </div>
        </div>
      </div>
      {{/each}} {{else}}
      <h3>No Blogs found. <span class="blogaddtext">Please click here to 
       <a data-toggle="modal" data-target="#myModal" href="#">Add Blog</a></span></h3>
      {{/Compare}}
    </div>

    {{!-- <input type="hidden" name="nextsearchindex" id="nextsearchindex" value="{{index}}" /> --}}

    <input type="hidden" name="userid" id="userid" value="{{user._id}}" />
    <input type="hidden" name="username" id="username" value="{{user.username}}" />

    <div id="divImage" data-lastblogid="{{lastblogid}}">
      <span id="loadmoreblogbyuserid" name="loadmoreblogbyuserid" alt="Load More" class="glyphicon glyphicon-hand-down"></span>
    </div>

  </div>
</div>

<br/>
<link href="/css/blogs.css" rel="stylesheet" />
<script src="/js/blogs.js"></script>

<div id="allComment" class="modal fade" role="banner">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span></button>
        <h4 class="modal-title">Validate Comments</h4>
      </div>
      <div class="modal-body allcommentdiv">
      </div>
    </div>
  </div>
</div>

<div id="myComment" class="modal fade" role="banner">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span></button>
        <h4 class="modal-title">View/Edit/Validate Comments</h4>
      </div>
      <div class="modal-body mycommentdiv">
      </div>
    </div>
  </div>
</div>