<div class="row">
    <div class="my-container">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {{#if blog}}
            <div class="blog-panel">
                <h2>Blog heading : {{{blog.topic}}}</h2>
                <h5>By {{#Compare user._id "==" blog.userid}}
                    <a href="/myprofile/{{blog.userid}}">{{blog.createdby}}</a>
                    {{else}} {{blog.createdby}} {{/Compare}} | Posted on {{#CovertISODate blog.creationdate}}{{/CovertISODate}}
                </h5>
                <span>{{{blog.content}}}</span>
            </div>

            {{#Compare blog.prevblogid "!==" "0"}}
            <a href="/viewblog/showdetails/{{blog.prevblogid}}">Previous</a>
            {{/Compare}} {{#Compare blog.nextblogid "!==" "0"}}
            <a href="/viewblog/showdetails/{{blog.nextblogid}}">Next</a>
            {{/Compare}}

            <hr>
            <!-- Blog Comments - Comments Form -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <strong>Leave a Comment</strong>
                    </h5>
                </div>
                <div class="list-group panel-body">

                    {{#if user}}
                    <div class="blogcommentvalidationpanel hidden">
                    </div>
                    <div class="blogcommentsection">
                        <form id="blogcommentfrm">
                            <div class="form-group">
                                <textarea class="form-control" rows="4" name="blogcomment" id="blogcomment" required="required"></textarea>
                                <input type="hidden" value="{{blog._id}}" name="blogid" id="blogid" />
                                <input type="hidden" value="{{blog.topic}}" name="blogtopic" id="blogtopic" />
                                <input type="hidden" id="uname" name="uname" value="{{user.username}}" />
                                <input type="hidden" id="userid" name="userid" value="{{user._id}}" />
                            </div>
                            <button type="button" class="btn btn-info btn-sm addblogcomment">Submit</button>
                        </form>
                    </div>
                    {{else}} Please
                    <span id="modal-846899" href="#modal-container-846899" role="button" data-toggle="modal">
                        <a class="signinlink" href="#">sign-in or sign-up!!</a>
                    </span>
                    {{/if}}
                </div>
            </div>

            <hr>
            <!-- Posted Comments -->
            <div class="commentpanel">
                {{#if comments}} {{#Compare comments.count ">" 0}} {{#each comments.result}}

                <div class="panel panel-default">
                    {{!-- <div class="panel-body">
                        {{this.comment}}
                    </div>
                    <div class="panel-footer text-right">by
                        <i>
                            {{#Compare ../user._id "==" this.userid}}
                            <a href="/myprofile/{{this.userid}}">{{this.username}}</a>
                            {{else}} {{this.username}} {{/Compare}}
                            <span class="glyphicon glyphicon-time"></span> Posted on {{#CovertISODate this.creationdate}}{{/CovertISODate}}</i>
                    </div> --}}
                    <div class="avatar-image-container">
                        <img class="avatarImage" src="//3.bp.blogspot.com/-lkPrFPfIPEw/VdBIZEgEPiI/AAAAAAAAAq8/Es0ZO9SXrh8/s35/*">
                    </div>
                    <div class="comment-block">
                        <div id="bc_0_3M" class="comment-header" kind="m">
                            <cite class="user">
                                {{#Compare ../user._id "==" this.userid}}
                                <a class="citaUser" rel="nofollow" href="/myprofile/{{this.userid}}">{{this.username}}</a>
                                 {{else}} {{this.username}} {{/Compare}}
                            </cite>
                            <span class="icon user"></span>
                            <span class="datetime secondary-text">
                                {{!-- <a rel="nofollow" href="http://elegant-themexpose.blogspot.com/2015/03/draught-vaein-mynel.html?showComment=1439841860484#c4430442862520669599">August 17, 2015 at 1:04 PM</a> --}}
                                {{#CovertISODate this.creationdate}}{{/CovertISODate}}
                            </span>
                        </div>
                        <p id="bc_0_3MC" class="comment-content">{{this.comment}}</p>
                    </div>
                </div>
                {{/each}} {{/Compare}}{{/if}}
            </div>

            <div id="divCommentImage" data-blogid="{{blog._id}}" data-lastcommentid="{{lastCommentId}}">
                <span id="loadmorecommentbyblogid" name="loadmorecommentbyblogid" alt="Load More" class="glyphicon glyphicon-hand-down"></span>
            </div>
            {{/if}}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Top Visited Side Widget Well -->
            {{#if topvisit}} {{> topvisitblogs topvisit=topvisit }} {{/if}}

            <!-- Top Visited Side Widget Well -->
            {{#if mostrecentblogs}} {{> recentblogs mostrecentblogs=mostrecentblogs }} {{/if}}
        </div>
    </div>
</div>

<link href="/css/blogs.css" rel="stylesheet" />
<script src="/js/blogs.js"></script>