 {{#each blogs.result}} {{!--
<div class="blog-box">
    <div class="blog-box-left">
        {{#ShowDate this.creationdate}}{{/ShowDate}}
    </div>
    <div class="blog-box-right">
        <h2>{{{this.topic}}}</h2>
        <h5>by {{#Compare ../user._id "==" this.userid}}
            <a href="/myprofile/{{this.userid}}">{{this.createdby}}</a> {{else}} {{this.createdby}} {{/Compare}}</h5>
        <p>
            <span class="limitblogdata">{{{this.content}}}</span>
            <a href="/viewblog/showdetails/{{this._id}}">Read more...</a>
        </p>
    </div>
</div> --}}

<article class="post">
    <div class="post-header">
        <h2>
            <span>
                <a href="/viewblog/showdetails/{{this._id}}">{{{this.topic}}}</a>
            </span>
        </h2>
    </div>
    <div style="display: block;">
        <div class="post-image">
            <a href="/viewblog/showdetails/{{this._id}}">
                <img class="img-responsive" src="http://4.bp.blogspot.com/-9gn_LBV602M/VbNkAXM7TGI/AAAAAAAAGUs/1Ts7hsw2iqw/s1600/travel04.jpg">
            </a>
        </div>
        <div class="post-entry">
            <span class="limitblogdata">
                {{{this.content}}}
            </span>
            <p class="continuesRead">
                <a class="more-link" href="/viewblog/showdetails/{{this._id}}">Continue Reading</a>
            </p>
        </div>
    </div>
    <div class="bottom-blog">
        <ul class="blog-date pull-left ccc" data-id="18">
            <li>
                <span class="glyphicon glyphicon-user"></span>
                by {{#Compare ../user._id "==" this.userid}}
                <a href="/myprofile/{{this.userid}}">{{this.createdby}}</a> {{else}} {{this.createdby}} {{/Compare}}
            </li>
            <li>
                <span class="glyphicon glyphicon-time"></span> {{#ShowDate this.creationdate}}{{/ShowDate}}</li>
        </ul>
        <ul class="group-share pull-right"></ul>
    </div>
</article>
{{/each}}