 {{#each blogs.result}}
<div class="blog-box">
    <div class="blog-box-left">
        {{#ShowDate this.creationdate}}{{/ShowDate}}
    </div>
    <div class="blog-box-right">
        <h2>{{{this.topic}}}</h2>
        <h5>by {{#Compare ../user._id "==" this.userid}}
            <a href="/myprofile/{{this.userid}}">{{this.createdby}}</a> {{else}} {{this.createdby}} {{/Compare}}</h5>
        <p>
            <span class="limitblogdata">{{{this.content}}}</span>
            <a href="/viewblog/showdetails/{{this._id}}">Read more...</a>
        </p>
    </div>
</div>
{{/each}}