<div id="accordion">
  {{#each user.result}}
  <div data-name={{_id}} class="blogtable">
    <div class="header row">
      <div class="col-xs-12 col-md-5">
        <span class="h4">{{{this.topic}}}</span>
      </div>

      <div class="pull-right col-xs-12 col-md-5">
        <label class="radio-inline">            
           {{#Compare "1" this.status}}
             <input type="radio" name="blogGroup_{{@index}}" checked="checked" data-type="approve" value="1"/>
           {{else}} 
         <input type="radio" name="blogGroup_{{@index}}" data-type="approve" value="1"/>
          {{/Compare}}
          Approve
        </label>

        <label class="radio-inline">            
           {{#Compare "2" this.status}}
             <input type="radio" name="blogGroup_{{@index}}" data-type="reject" checked="checked" value="2"/>
           {{else}} 
         <input type="radio" name="blogGroup_{{@index}}" data-type="reject" value="2"/>
          {{/Compare}}
          Reject
        </label>
        <label class="radio-inline">            
           {{#Compare "0" this.status}}
             <input type="radio" name="blogGroup_{{@index}}" data-type="pending" checked="checked" value="3"/>
           {{else}} 
         <input type="radio" name="blogGroup_{{@index}}" data-type="pending" value="3"/>
          {{/Compare}}
          Pending
        </label>
        <button type="button" class="btn btn-primary btn-xs userBlogDataColumn">Update</button>
      </div>
    </div>
    <div>
      {{{content}}}
    </div>
  </div>
  {{/each}}
</div>