<div class="list-group">
  <ul class="list-group panel-info">
    <li class="list-group-item panel-heading">
      <span class="close  regUserBlogs ">&#xe031;</span>Blogger info
    </li>
    {{#each user}} {{#each this}}
    <li class="list-group-item hover" data-type="{{key}}">
      <span class="badge">{{total}}</span> {{text}} 
      {{!-- {{#validateBlogs categorykey}} {{/validateBlogs}} --}} {{!-- <span class="badge">{{total}}</span>      {{#Compare "ankit" "!==" "local" }} true {{else}} false {{/Compare}} --}} {{!-- {{#IsAdmin true}} {{/IsAdmin}} --}} {{!-- {{#ValidateBlogs ankit}}
      {{/ValidateBlogs}} --}} {{!-- {{this.categorykey}} --}}
    </li>
    {{/each}} {{/each}}
  </ul>
</div>